* {
  box-sizing: border-box;
  text-align: center;
}

body {
  background-image: url('./assets/app-background.jpg');
  background-size: cover;
}

.App {
  max-width: 770px;
  width: 60vw;
  margin: 50px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #FF00BF;
  padding: 50px;
  border-radius: 10px;
}

.hero-image {
  border-radius: 100%;
}

.single-link {
  width: 42vw;
  max-width: 540px;
  display: flex;
  justify-content: space-between;
  background-color: pink;
  padding: 15px 30px;
  border-radius: 40px;
  font-weight: bold;
}

.single-link-a {
  text-decoration: none;
  color: black;
  margin: 10px 0;
}

.header {
  margin-bottom: 20px;
  color: white;
}

#hero-image-container {
  width: 200px;
}

@media (max-width: 700px) {
  .App {
    width: 80vw;
  }

  .single-link {
    width: 70vw;
    padding: 15px 30px;
  }

  #hero-image-container {
    width: 150px;
  }
}

@media (max-width: 475px) {
  .single-link {
    padding: 15px;
  }
}

.live-text {
  color: red;
}